{% extends 'main.html' %}
{% block content %}

<img src={{user.pfp.url}} class="rounded m-3" />
{% if user.id == request.user.id or request.user.is_superuser %}
    <h1 class="m-2">Hello, {{user.name}}</h1>
    <h5>{{user.username}}</h5>
    <a href="{% url 'edit-user' %}"><button class="btn btn-outline-primary m-2">Edit Profile</button></a>
{% else %}
    <h1 class="m-2">{{user.name}}</h1>
    <h5>{{user.username}}</h5>
{% endif %}

<br>
<h5>Bio:</h5>
<p>{{user.bio}}</p>
<br><br>

{% if user.id == request.user.id %}
    <h2 class="m-1">Your Classrooms:</h2>
{% else %}
    <h2>{{user.username}}'s Classrooms:</h2>
{% endif %}
<br>

{% include 'base/classroomComponent.html' %}

{% endblock %}